/******** 1. GENERELLE INDSTILLINGER ********/

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
}



/********* 2. NAV + BURGER *********/


.nav {
    display: flex;
    flex-wrap: wrap;
    height: 657px;
    width: 180px;
    z-index: 10;
    padding: 15px;
    line-height: 50px;
    transition: background 300ms ease;
    animation: fadein 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.nav a {
    text-decoration: none;
    text-decoration-line: none;
    color: #0000ff;
    font-family: mono45-headline, monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

.nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0 0 0 0;
    margin-left: 30px;
    margin-top: 50px;
}

.nav:hover {
    background-color: #0000ff;
}

.nav:hover a {
    color: white
}

.nav a:hover {
    color: black;
}


/********* 3. HJEM *********/

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.hp_con1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 50px;
    width: 989px;
    height: 100%;
}

.hp_con1 p {
    font-family: source-code-pro, monospace;
    font-weight: 400;
    font-style: normal;
    color: #0000ff;

}

.box {
    background-color: white;
    width: 333px;
    height: 303px;
    text-align: center;
    margin: auto;
}

.box:hover {
    background-color: #ffd7e7;
}

.box:hover p {
    color: black;
}
