/******** 1. GENERELLE INDSTILLINGER ********/

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
}


/********* 2. NAV + BURGER *********/

/*Hidden class*/
.hidden {
    visibility: hidden;
}

/*Div til desktop menu(Dmenu) */
.nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 180px;
    padding: 50px 15px 15px 15px;
    line-height: 70px;
    transition: background 300ms ease;
    animation: fadein 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 100;
    background-color: white;
}

/*desktop menu tekst*/
.nav a {
    text-decoration: none;
    text-decoration-line: none;
    color: #0000ff;
    font-family: mono45-headline, monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin-left: 50px;
}

/*Hover farve Dmenu*/
.nav:hover {
    background-color: #0000ff;
}

/*Tekst til dmenu hover*/
.nav:hover a {
    color: white
}

/*Hover over tekst til dmenu*/
.nav a:hover {
    color: black;
}

/*Mobil menu div (Mmenu) */
#burger {
    display: none;
    height: 30px;
    z-index: 1000;
    position: fixed;
    flex-direction: column;

}

/*Menu teksten, du trykker på så menuen kommero*/
#burger p {
    margin-left: 50px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: italic;
    cursor: pointer;
    color: #0000ff;
    font-size: 1.5rem;
}

/*Mmenu a/tekst deco*/
.menu a {
    text-decoration: none;
    text-decoration-line: none;
    color: #0000ff;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    list-style: none;
    line-height: 30px;
}

/*Hover over Menu og Mmenu tekst*/
#burger p:hover,
.menu a:hover {
    color: black;
}

/********* 3. FORSIDE *********/

/*Baggrunds billede forsiden */
#fp_header {
    background-image: url(img/landingpage5.png);
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Navnet til forside*/
.navn {
    background-image: url(img/Artboard%204.svg);
    background-size: cover;
    height: 8vw;
    width: 52vw;
}

/*Design af enter knap*/
input[type=submit] {
    padding: 10px 15px;
    margin: 10px 20px;
    box-sizing: border-box;
    border: 0px solid;
    background-color: #0000ff;
    font-family: source-code-pro, monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
    cursor: pointer;
}

/*design knap hover*/
input[type=submit]:hover {
    background-color: #000000;
    color: white;
}

/********* 4. OM MIG *********/

/*Parent section div*/
.wrapper_info {
    display: flex;
    background-color: #ffd7e7;
}

/*Parent div til alt indhold på om mig siden*/
.info_con {
    flex-wrap: wrap;
    padding-top: 50px;
    width: 80%;
    height: 100%;
    overflow: hidden;

}

/*child div til om mig*/
.overskrift {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

/*overskrift deco*/
.overskrift h1 {
    font-family: source-code-pro, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    text-decoration: underline;
    display: flex;
    max-height: 220px;
    max-width: 700px;
    margin: 0 0 0 0;
}

/*Teksten deco*/
.info_text {
    position: relative;
    z-index: 1000;
    font-family: source-code-pro, monospace;
    font-weight: 400;
    font-style: normal;
    color: black;
    height: 100%;
    line-height: 29px;
    width: 100%;
}

/*Image position + deco*/
.info_text img {
    position: absolute;
    max-height: 400px;
    max-width: 400px;
    right: -1vw;
    top: -3vw;
    z-index: -1;
    opacity: 0.8;
}

/*CV rulletekst*/
.scrollingtext {
    display: inline-block;
    white-space: nowrap;
    animation: scrolling 6.5s infinite linear;
    padding-top: 10px;
    margin-left: 100px;

}

/*Selve rulleteksten deco*/
.scrollingtext a {
    font-family: sans-serif;
    font-size: 3em;
    display: flex;
    color: #0000ff;
}

/*Hover CV tekst*/
.scrollingtext a:hover {
    color: black;
}

/********* 5. WEB *********/

/*Section indstillinger*/
.web_wrapper {
    display: flex;
}

/*indstillinger til parent div*/
.web_con {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    width: 80%;
    height: 100vh;
}

/*Boksens tekst deco*/
.webbox p,
h4 {
    font-family: source-code-pro, monospace;
    font-weight: 400;
    font-style: normal;
    color: #0000ff;
}

/*Boksens deco*/
.webbox {
    background-color: white;
    width: 333px;
    height: 333px;
    text-align: center;
    margin: 5px 5px 5px 5px;
    margin-left: 70px;
    transition: background 300ms ease;
    animation: fadein 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/*Fjerne link linje*/
.webbox a {
    text-decoration: none;
}

/*hover farve*/
.webbox:hover {
    background-color: #79e0e7;
}

/*Hover overskrift farve*/
.webbox:hover h4 {
    color: black;
}

/*Tekst hover farve*/
.webbox:hover p {
    color: white;
}

/*Lidt tekst deco*/
.webtxt p {
    font-size: 0.8rem;
    line-height: 1.35;
}

/*Tekst er skjult*/
.webtxt {
    display: none;
}

/*Tekst dukker op på hover*/
.webbox:hover .webtxt {
    display: block;
}

/*Billede forsvinder på hover*/
.webbox:hover .blomst {
    display: none;
}

/*Billede deco*/
.blomst {
    width: 50%;
    height: 50%;
}


/********* 6. ANIMATION *********/

/*Section */
.ani_wrapper {
    display: flex;
}

/*Indstillinger til indholdets parent div*/
.ani_con {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    width: 80%;
    height: 100vh;
    margin-left: 70px;
}

/*P tekst i box, deco*/
.anibox p {
    font-family: source-code-pro, monospace;
    font-weight: 400;
    font-style: normal;
    color: #0000ff;
    font-size: 0.8rem;
    line-height: 1.35;
}

/*Box deco*/
.anibox {
    background-color: white;
    width: 333px;
    height: 333px;
    text-align: center;
    margin: 5px 5px 5px 5px;
    transition: background 300ms ease;
    animation: fadein 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/*href deco*/
.anibox a {
    text-decoration: none;
}

/*hover farve*/
.anibox:hover {
    background-color: #00df8d;
}

/*href hover color*/
.anibox:hover h4 {
    color: black;
}

/*div tekst hover*/
.anibox:hover p {
    color: white;
}

/*tekst kommer når hover*/
.anibox:hover .anitxt {
    display: block;
}

/*skjuler tekst */
.anitxt {
    display: none;
}

/*Ballin skrift billede settings*/

.ballin_tekst {
    width: 70%;
    height: auto;
    padding-top: 20px;
}

/*Basketball billede settings*/
.ballin {
    width: 50%;
    height: auto;
    padding-top: 20px;
}


/*Mobil billede settings*/
.mobil {
    height: 60%;
    width: auto;
    padding-top: 20px;
}

/*Billeder forsvinder på hover*/
.anibox:hover img {
    display: none;
}

/********* 7. INDHOLD *********/

/*Section settings*/
.ind_wrapper {
    display: flex;
}

/*indhold div settings*/
.ind_con {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    width: 80%;
    height: 100vh;
}

/*box settings*/
.indbox {
    background-color: white;
    width: 333px;
    height: 333px;
    text-align: center;
    margin: 5px 5px 5px 5px;
    transition: background 300ms ease;
    animation: fadein 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    margin-left: 70px;
}

/*hover farve*/
.indbox:hover {
    background-color: #bc13fe;
}

/**/
.indbox:hover h4 {
    color: black;
}

/**/
.indbox:hover p {
    color: white;
}

/**/
.indbox:hover .indtxt {
    display: block;
}

/**/
.indtxt {
    display: none;
}

/*Tekst i box deco*/
.indbox p {
    font-family: source-code-pro, monospace;
    font-weight: 400;
    font-style: normal;
    color: #0000ff;
    font-size: 0.8rem;
    line-height: 1.35;
}

.indbox a {
    text-decoration: none;
}

/*billede deco*/
.cphww {
    width: 40%;
    padding-top: 20px;
}

/**/
.indbox:hover .cphww {
    display: none;
}


/********* 8. UX *************/
/*section settings*/
.ux_wrapper {
    display: flex;
    flex-wrap: wrap;
}

/*parent div indstillinger*/
.ux_con1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 100vh;
    padding-top: 50px;
    margin-left: 70px;
}

/*p deco i div*/
.uxbox p {
    font-family: source-code-pro, monospace;
    font-weight: 400;
    font-style: normal;
    color: #0000ff;
    font-size: 0.8rem;
    line-height: 1.35;
}

/*div indstillinger*/
.uxbox {
    background-color: white;
    width: 333px;
    height: 333px;
    text-align: center;
    margin: 5px 5px 5px 5px;
    transition: background 300ms ease;
    animation: fadein 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/**/
.uxbox a {
    text-decoration: none;
}

/**/
.uxbox:hover {
    background-color: #25FF2B;
}

/**/
.uxbox:hover h4 {
    color: black;
}

/**/
.uxbox:hover p {
    color: white;
}

/**/
.uxtxt {
    display: none;
}

/**/
.uxbox:hover .uxtxt {
    display: block;
}

/*billede indstilling*/
.moon {
    width: 45%;
    height: auto;
    padding-top: 10px;
}

/*billede indstilling*/
.postit {
    height: 50%;
    width: auto;
}

/*billede indstilling*/
.kea {
    width: 50%;
    height: auto;
    padding-top: 40px;
}

/**/
.uxbox:hover img {
    display: none;
}

/********* 9. MEDIA + KEYFRAMES ********/

/*Gemmer Desktop menu, når skærm når 1186px*/
@media screen and (max-width: 1186px) {
    #burger {
        display: block;
    }

    .nav {
        display: none;
    }
}

/*Gør at baggrund og navn billede følger med skærmen og flexer*/
@media only screen and (min-width: 177px) {
    #fp_header {
        background-position: 50% 0%
    }
}

/*Keyframes der gør at teksten ruller*/
@keyframes scrolling {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}
